@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --clr-orange: hsl(14 100 61);
  --clr-orange-opaque: hsla(14 100 61 / 0.5);
  --clr-pink: hsl(346 100 66);
  --clr-tomato: hsl(4, 100%, 67%);
  --clr-tomato-opaque: hsla(4 100 67 / 0.3);
  --clr-slate-500: hsl(234, 17%, 26%);
  --clr-slate-700: hsl(234, 29%, 20%);
  --clr-chacoral: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-white: hsl(0, 0%, 100%);

  --mobile-width: 375px;
}

/* utilities */
.hidden {
  display: none !important;
}

.error {
  border-color: var(--clr-tomato) !important;
  color: var(--clr-tomato) !important;
  background: var(--clr-tomato-opaque) !important;
}

/* app styles for mobile */
.image__desktop {
  display: none;
}

html,
body {
  height: 100%;
}

.wrapper__app {
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-slate-500);
  color: var(--clr-slate-700);
  font-family: 'Roboto-Regular';
  letter-spacing: 0px;
}

.card {
  background-color: var(--clr-white);
  width: fit-content;
  max-width: var(--mobile-width);
  min-width: 320px;
  display: flex;
  flex-direction: column-reverse;
}

.section__form {
  padding-top: 40px;
  padding-inline: 24px;
  padding-bottom: 30px;
}

.title__card {
  font-family: 'Roboto-Bold';
  font-size: calc(40rem / 16);
  line-height: 1;
}

.title__card,
.subtitle__card {
  margin-bottom: 24px;
}

.list {
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.list-item span {
  display: inline-block;
}

.list-item img {
  width: 20px;
  display: inline-block;
}

.label {
  font-family: 'Roboto-Bold';
  font-size: calc(12rem / 16);
  display: block;
  margin-bottom: 6px;
}

.form {
  position: relative;
}

.input {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--clr-grey);
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
}

.error-message {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--clr-tomato);
}

.button {
  font-family: 'Roboto-Bold';
  color: var(--clr-white);
  background-color: var(--clr-slate-700);
  width: 100%;
  padding-block: 16px;
  text-align: center;
  border: none;
  border-radius: 8px;
}

.success-card {
  width: 100%;
  height: 100%;
  max-width: var(--mobile-width);
  background-color: var(--clr-white);
  padding-inline: 24px;
  padding-top: 6rem;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success-content {
  padding-top: 6rem;
  position: relative;
}

.image__success {
  position: absolute;
  top: 0;
  left: 0;
}

.subtitle__card span {
  font-family: 'Roboto-Bold';
}

input:focus {
  outline: 2px solid black;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(var(--clr-orange), var(--clr-pink));
  box-shadow: 0px 10px 15px var(--clr-orange-opaque);
}

/* MEDIA */
@media (min-width: 650px) {
  .image__mobile {
    display: none;
  }

  .image__desktop {
    display: block;
    width: 100%;
  }

  .card {
    min-width: 600px;
    width: unset;
    max-width: unset;
    width: fit-content;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 24px;
    border-radius: 36px;
  }

  .section__image {
    width: 100%;
    aspect-ratio: 400/593;
  }

  .section__form {
    padding: 0;
  }

  .success-card {
    max-width: 500px;
    height: unset;
    width: fit-content;
    aspect-ratio: 1 / 1;
    padding: 64px;
    border-radius: 36px;
    padding-top: 48px;
  }
}

@media (min-width: 800px) {
  .card {
    grid-template-columns: 1.3fr 1fr;
  }

  .title__card {
    font-size: calc(56rem / 16);
  }

  .section__form {
    max-width: 350px;
  }
}
